{% load static %}



<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script src="https://kit.fontawesome.com/e344495af0.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" type="text/css" href='{% static "css/home.css" %}'>
    {% if cssc == "det" %}
    <link rel="stylesheet" type="text/css" href='{% static "css/detail.css" %}'>
    {% elif cssc == "cart" %}
    <link rel="stylesheet" type="text/css" href='{% static "css/cart.css" %}'>
    {% endif %}
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@300;400;600&display=swap" rel="stylesheet">
    <title>Sridee shop</title>
</head>

<body>
    <div class="navbar_m">
        <div class="navbar_menu_m">
            <a href="{% url 'home' %}">Home</a>
            <a href="">iPhone</a>
            <a href="">iPad</a>
            <a href="">AirPods</a>
            <a href="">Contact</a>
        </div>
    </div>

    <div class="navbar">
        <div class="logo">
            <a href="">∫∑ SRIDEE SHOP</a>
        </div>
        <div class="navbar_menu">
            <a href="{% url 'home' %}">Home</a>
            <a href="">iPhone</a>
            <a href="">iPad</a>
            <a href="">AirPods</a>
            <a href="">Contact</a>
        </div>
        <div class="navbar_log">
            <a href="{% url 'cart' %}"><i class="fa-solid fa-bag-shopping" style="margin-top: 2px;"></i></a>
            {% if user.is_authenticated %}
            <a href="">{{user.username}}</a>
            {% else %}
            <a href="{% url 'customerlogin' %}">Login</a>
            <a href="">Sign up</a>
            {% endif %}
        </div>
    </div>
    {% block content %}

    {% endblock content %}
</body>
