{% load static %}



<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script src="https://kit.fontawesome.com/e344495af0.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" type="text/css" href='{% static "css/home.css" %}'>
    {% if cssc == "det" %}
    <link rel="stylesheet" type="text/css" href='{% static "css/detail.css" %}'>
    {% elif cssc == "cart" %}
    <link rel="stylesheet" type="text/css" href='{% static "css/cart.css" %}'>
    {% endif %}
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@300;400;600&display=swap" rel="stylesheet">
    <title>Sridee shop</title>
</head>

<body>
    <div class="navbar_m">
        <div class="navbar_menu_m">
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'iphone' 'index' %}">iPhone</a>
            <a href="">iPad</a>
            <a href="">AirPods</a>
            <a href="">Contact</a>
        </div>
    </div>

    <div class="navbar">
        <div class="logo">
            <a href="">∫∑ SRIDEE SHOP</a>
        </div>
        <div class="navbar_menu">
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'iphone' 'index' %}">iPhone</a>
            <a href="">iPad</a>
            <a href="">AirPods</a>
            <a href="">Contact</a>
        </div>
        <div class="navbar_log">
            <a href="{% url 'cart' %}"><i class="fa-solid fa-bag-shopping" style="margin-top: 2px;"></i></a>
            {% if user.is_authenticated %}
            <button id="Btn_menu" class="btn">{{user.username}}</button>
            {% else %}
            <a href="{% url 'customerlogin' %}">Login</a>
            <a href="{% url 'customerregistration' %}">Sign up</a>
            {% endif %}
        </div>
    </div>
    <h1 class="top_h">&nbsp;</h1>


    <div id="menu_User" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h3 class="center" style="margin: 10px;font-size: 23px;">จัดการบัญชีผู้ใช้</h3>
            </div>
            <div class="modal-body">
                <a href="{% url 'profile' %}">แก้ไข่ข้อมูลส่วนตัว</a>
                <a href="{% url 'cart' %}">รายการในกระเป๋า</a>
                <a href="">ประวัติการสั่งซื้อ</a>
                <div class="logout_">
                    <a href="{% url 'customerlogout' %}" >ออกจากระบบ</a>
                </div>
            </div>
        </div>
    </div>

        {% block content %}

        {% endblock content %}
        <h1 class="phone">&nbsp;</h1>
</body>

<script>

    var modal = document.getElementById("menu_User");
    var btn = document.getElementById("Btn_menu");
    var span = document.getElementsByClassName("close")[0];
    btn.onclick = function () {
        modal.style.display = "block";
    }
    span.onclick = function () {
        modal.style.display = "none";
    }
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>