{% load static %}

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" type="text/css" href='{% static "css/home.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "css/cart.css" %}'>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@300;400;600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e344495af0.js" crossorigin="anonymous"></script>
</head>


<body>

    <div class="navbar">
        <div class="logo">
            <a href="" style="padding-right: 55px;padding-left: 55px;">∫∑ SRIDEE SHOP</a>
        </div>
        <div class="navbar_menu">
            <a href="{% url 'home' %}">Home</a>
            <a href="">iPhone</a>
            <a href="">iPad</a>
            <a href="">AirPods</a>
            <a href="">Contact</a>
        </div>
        <div class="navbar_log">
            <a href="{% url 'cart' %}"><i class="fa-solid fa-bag-shopping" style="margin-top: 2px;" ></i></a>
            {% if user.is_authenticated %}
            <a href="" style="padding: 14px 50px;">{{user.username}}</a>
            {% else %}
            <a href="">Login</a>
            <a href="">Sign up</a>
            {% endif %}
        </div>
    </div>
    <div class="center" style="margin-top: 90px;">
        <h1 style="font-weight: 300;">รายการในกระเป๋าของคุณ</h1>
    </div>
    {% if price_total != 0 %}
    <div class="center">
        <div class="parent">
            <div class="div1">
                <div class="div1t">
                    <a>สินค้าในกระเป๋า</a>
                </div>
            </div>
            <div class="div1-2">
                <div class="div1t">
                    {% if user.is_authenticated %}
                    <a href="">ประวัติการสั่งซื้อ</a>
                    {% else %}
                    <a href="">เข้าสู่ระบบเพื่อ ดูประวัติการสั่งซื้อ</a>
                    {% endif %}
                </div>
            </div>
            <div class="div2">
                <div class="scroll">

                    {% for item, total, quantity in items %}
                    <div class="iparent">
                        <div class="idiv1">
                            <img src="{{item.image.url}}" style="width: 100%;">
                        </div>
                        <div class="idiv2"> 
                            <div class="idiv2i">

                                <a href="{% url 'photo' item.id %}">{{item.name}}</a>
                            </div>
                            <p>ราคา {{item.price}}฿ x {{quantity}} ชิ้น</p>
                            <p>ราคาทั้งหมด {{total}}฿</p>
                        </div>
                        <div class="idiv3">
                            <form action="{% url 'removeon' %}" method="post" style="margin: auto;">
                                {% csrf_token %}
                                <input type="hidden" name="name" value="{{item.name}}">
                                <input type="hidden" name="price" value="{{item.price}}">
                                {% if quantity == 1 %}
                                <button class="fa-solid fa-trash-can" type="submit"></button>
                                {% else %}
                                <button class="fa-solid fa-circle-minus" type="submit"></button>
                                {% endif %}
                            </form>
                            <h3 style="padding: 10px">{{quantity}}</h3>
                            <form action="{% url 'addon' %}" method="post" style="margin: auto;">
                                {% csrf_token %}
                                <input type="hidden" name="name" value="{{item.name}}">
                                <input type="hidden" name="price" value="{{item.price}}">
                                <button class="fa-solid fa-circle-plus" type="submit"></button>
                            </form>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="div3">
                <div class="center">
                    <h3>ชำระเงินผ่าน Prompt Pay</h3>
                    <img src="{% url 'qr' mobile=mobile amount=amount %}" style="width: 30%;"> 
                    <h2>รวมทั้งหมด {{price_total}}฿</h2>

                </div>
            </div>
        </div>
    </div>
        {% else %}
        <div class="center">
            <h2 style="font-size: 50px; font-weight: 300;">ไม่มีสินค้าในกระเป๋าของคุณ</h2>
            <a href="{% url 'home' %}" style="font-size: 30px; color: #205eff;">เลือกซื้อสินค้าต่อ</a>
        </div>
        {% endif %}

</body>

