{% extends 'base.html' %}
{% load static %}



<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script src="https://kit.fontawesome.com/e344495af0.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href='{% static "css/home.css" %}'>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@300;400;600&display=swap" rel="stylesheet">
</head>



<body>

{% block content %}

<div class="center">
    <h3 class="top_h">แหล่งรวมอุปกรณ์เสริมผลิตภัณฑ์</h3>
    <h2 class="headline">ของ Apple ที่ดีที่สุด</h2>
    <img src="/static/media/pic1.jpg" class="img1">


</div>
<div class="center">
    <h3>เลือกเคสในแบบที่ต้องการ</h3>
</div>

<div class="con_type">

    <div class="container">
        <div class="row">
            {% for i in fe %}
            <div class="column">
                <img src="{{i}}" class="image" style="width:100%;background-color: white;">
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="center">
    <h3>สินค้าใหม่ล่าสุด</h3>
</div>

<div class="container">
    <div class="row2">
        {% for i in rec %}
        <div class="column2">
            <a href="{% url 'photo' i.id %}"><img src="{{i.image.url}}" class="image"
                    style="width:100%;background-color: white;"></a>
            <p class="p_i">{{i.presub}}</p>
            <p class="p_n">{{i.name}}</p>
            <p class="p_p">฿{{i.price}}</p>
            </p>
        </div>
        {% endfor %}
    </div>
</div>
<div class="center" style="margin-top: 70px;">
    <h3>สินค้าขายดี Best Seller</h3>
</div>
<div class="container">
    <div class="row2">
        {% for i in best %}
        <div class="column2">
            <img src="{{i}}" class="image" style="width:100%;background-color: white;">
            </p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}


</body>

</html>