{% extends 'base.html' %}
{% load static %}


<body>
    
{% block content %}

    <div class="mobile">
        
    </div>
    
    <div class="com">
        
        <div class="parent" style="margin-top: 100px;">
            <div class="div1">
                <img src="{{photo.image.url}}" style="width: 100%;">
            </div>
            <div class="div2">
                <h3>{{photo.name}}</h3>
                <h3 style="margin-top: -40px;font-size: 23px;color: salmon;font-weight: 400;">{{photo.presub}}</h3>
            </div>
            <div class="div3">
                <p style="margin: auto 45px;">&nbsp;&nbsp;&nbsp;&nbsp;{{photo.description}}</p>
            </div>
            <div class="div4">
                <p>ราคา {{photo.price}}฿</p>
                <div class="inbutton">
                    <form action="{% url 'addon' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="pk" value="{{photo.pk}}">
                        <input type="hidden" name="name" value="{{photo.name}}">
                        <input type="hidden" name="price" value="{{photo.price}}">
                        <button class="button" style="padding: 15px 45px;margin-right: 5px;">Buy Now</button>
                    </form>
                    <form action="{% url 'add' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="pk" value="{{photo.pk}}">
                        <input type="hidden" name="name" value="{{photo.name}}">
                        <input type="hidden" name="price" value="{{photo.price}}">
                        <button class="button">Add to Card</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    
    
    
    <div class="center">
        <p style="background-color: #dfdfdf;font-size: 1;margin: 50px 10%;">.</p>
        <h3 style="margin-top: 60px; margin-bottom: 0px;">สินค้าใหม่ล่าสุด</h3>
    </div>
    
    <div class="container">
        <div class="row2">
            {% for i in rec %}
            <div class="column2">
                <a href="{% url 'photo' i.id %}"><img src="{{i.image.url}}" class="image"
                    style="width:100%;background-color: white;"></a>
                    <p class="p_i">{{i.presub}}</p>
                    <p class="p_n">{{i.name}}</p>
                    <p class="p_p">฿{{i.price}}</p>
                </p>
            </div>
            {% endfor %}
        </div>
    </div>
    
{% endblock content %}

</body>

</html>