a {
    text-decoration: none;
}

.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 0 70px;
    background-color: #c6c6c6;
}

.div1 {
    grid-area: 1 / 1 / 2 / 3;
    display: flex;
    

}

.div1-2 {
    grid-area: 1 / 3 / 2 / 5;
    display: flex;
    background-color: #949494;
}

.div1-2 a {
    color: #303030;
}

.div1-2 a:hover {
    color: #ffffff;
}


.div1t {
    margin: auto;
    font-size: 25px;
    font-weight: 300;
    
}

.div2 {
    grid-area: 2 / 1 / 8 / 3;
}

.div3 {
    grid-area: 2 / 3 / 8 / 5;
    background: #f3f3f3;
}

.scroll {
    height: 520px;
    overflow: auto;
}


.iparent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background: linear-gradient(90deg, rgba(255,255,255,1) 50%, rgba(226,226,226,1) 61%, rgba(194,194,194,1) 180%);;
}

.idiv1 {
    grid-area: 1 / 1 / 2 / 2;
}

.idiv2 {
    grid-area: 1 / 2 / 2 / 4;
    text-align: left;
    margin-left: 10px;
}

.idiv2i {
    display: flex;
    text-align: end;    
}

.idiv2 a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.idiv3 {
    grid-area: 1 / 4 / 2 / 5;
    display: flex;
    margin: auto;
}

.idiv3 button {
    background: none;
    border: none;
    color: #535353;
    font-size: 20px;
}


.idiv3 button:hover {
    color: #767676;
}