h3 {
    font-weight: 300;
    font-size: 30px;
}

h2 {
    font-weight: 400;
}


.navbar_m {
    position: fixed;
    overflow: hidden;
    background-color: #424245;
    display: none;
    bottom: 0;
    font-weight: 300;
    width: 100%;
}

.navbar_menu_m {
    display: inline-flex;
    margin: auto;
}

.navbar_m a {
    /* float: left; */
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
}

.navbar_m a:hover {
    background: rgb(77 77 77);
    color: rgb(255, 255, 255);
}



.top_h {
    margin-top: 70px;
}

.img1 {
    border-radius: 50px;
    width: 80%;
}

body {
    font-family: 'Noto Sans Thai', sans-serif;
    margin: 0;
    background-color: #ffffff;
}


.navbar_menu {
    display: inline-flex;
    margin: auto;
}

.navbar_log {
    float: right;
    display: flex;
    justify-content: center;
}

.navbar {
    position: fixed;
    overflow: hidden;
    background-color: #424245;
    display: flex;
    top: 0;
    font-weight: 300;
    width: 100%;
}

.navbar a {
    /* float: left; */
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
}

.navbar a:hover {
    background: rgb(77 77 77);
    color: rgb(255, 255, 255);
}

.navbar a.active {
    background-color: #5b5b61;
    padding: 14px 30px;
    color: #ffffff;
}

.logo {
    display: inline-flex;


}

.logo a {
    padding-right: 55px;
    padding-left: 55px;
}

.logo a:hover {
    background: rgb(169, 169, 169);
    color: black;
    transition: all 0.5s ease;
}

.center {
    text-align: center;
}


.headline {
    margin-top: -37px;
    font-size: 33px;
    font-weight: 400;
    color: #205eff;
}

.con_type {
    margin: 0% 20%;
}

.container {
    display: block;
    box-sizing: border-box;
    margin-left: 3%;
    margin-right: 3%;
}

.row {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-end;
    padding: 0 4px;
}

.row2 {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-end;
    padding: 0 4px;
}

.column {
    -ms-flex: 20%;
    /* IE10 */
    flex: 20%;
    max-width: 15%;
    /* padding: 0 10px; */
    margin: 6px;
    background-color: rgb(247 247 247);
}

.column2 {
    -ms-flex: 20%;
    /* IE10 */
    flex: 20%;
    max-width: 15%;
    /* padding: 0 10px; */
    margin: 6px;
    background-color: rgb(247 247 247);
}


.column img {
    box-shadow: 2px -7px 31px -14px rgb(255 255 255);
    vertical-align: middle;
    width: 100%;
}

.p_i {
    text-align: center;
    margin-bottom: -18px;
    font-size: 11px;
    color: orangered;
}

.p_n {
    text-align: center;
    margin-bottom: 11px;
}

.p_p {
    text-align: center;
    margin: -10px 0px;
}

@media screen and (max-width: 400px) {
    h3 {
        font-size: 20px;
    }

    .top_h {
        margin-top: 100px;
    }

    .con_type {
        margin: 0px;
    }

    .img1 {
        border-radius: 5px;
        width: 100%;
    }

    .headline {
        margin-top: -20px;
        font-size: 20px;
    }

    .navbar a {
        font-size: 13px;
        margin: 23px 5px;
        padding: 0px 10px;
    }

    .navbar_m {
        display: flex;
    }

    .navbar_m a {
        font-size: 13px;
        margin: 23px 5px;
        padding: 0px 10px;
    }

    .navbar_menu {
        display: none;
    }

    .logo {

        margin-right: auto;
        margin-left: 14px;

    }

    .column2 {
        max-width: none;
    }

    .row2 {
        max-width: 100%;
    }

    .p_i {
        font-size: 8px;
    }

    .p_n {
        padding: 0px 20px;
        font-size: 15px;
    }

}